body{
    background-color:rgb(248, 248, 248);
    margin:200px;
}

h1{
    margin-bottom:30px;
    text-decoration: underline;
}

.container{

    background-color: rgb(43, 174, 226);
    border-radius: 4px;
    text-align: center;
    display:flex ;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin:0px auto;
    box-shadow:0px 5px 10px rgba(0,0, 0, 0.4);
}

.counter-display{

    font-size: 72px;
    font-weight: bold;
    color:grey;
    margin-bottom: 20px;


}

.button-container{
    margin-bottom: 20px;

}

button{

    padding: 10px 20px;
    background-color: rgb(235, 76, 174);
    border:none;
    border-radius: 4px;
    cursor:pointer;
    margin:0 10px;
    width:80px;
    color:beige
}

#resetbtn{
    background-color: red;
    margin-bottom: 20px;
}
#resetbtn:hover{

    background-color: green;
}

.blue-btn{
    font-size: 20px;
}
.blue-btn:hover{
    background-color: blueviolet;
}